html {
    font-family: 'Reem Kufi', sans-serif;
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-style: italic;
  color: white;
  margin: 0;
  margin-left: 5px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.map-container {
    height: 100%;
    box-sizing: border-box;
}

.title-container {
  background-color: red;
}

#map {
    height: 100%;
}